@charset "utf-8";
/*
 *公共
 *
 *重置
 *导航
 *首屏
 *版权
 *返回顶部
 *********************************************************/



/*
 *重置
 *********************************************************/
.navbar{
  margin: 0;
}
.a4{
  margin: 20px auto;
  border: 1px #ddd solid;
  max-width: 1240px;
  height: 1754px;
}



/*
 *导航
 *********************************************************/
.dropdown-menu{
  padding: 10px;
  img{
    margin-right: 10px;
  }
}



/*
 *首屏
 *********************************************************/
#banner{
  height: 300px;
  background: #159957;
  background-image: linear-gradient(120deg,#155799,#159957);
  text-align: center;
  color: #fff;
  h1{
    margin: 0;
    padding: 100px 0;
  }
  small{
    display: block;
    padding: 20px 0;
    color: #fff;
  }
}
#profile{
  h2{
    text-align: center;
  }
}



/*
 *版权
 *********************************************************/
#footer{
  padding: 15px 0;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px #e7e7e7 solid;
}



/*
 *返回顶部
 *********************************************************/
#toTop{
  position: fixed;
  bottom: 5%;
  right: 3%;
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  border: 2px #ddd solid;
  border-radius: 45px;
  background: #159957;
  background-image: linear-gradient(120deg,#155799,#159957);
  &:hover{
    background: #159957;
    border: 2px #fff solid;
    color: #fff;
    text-decoration: none;
  }
}
