@charset "UTF-8";
/*
 *此文件为公共模块
 *
 *侧边栏
 *主要内容
 *********************************************************/
/*
 *侧边栏
 *********************************************************/
.side-bar {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/bg_snow.gif");
}
.side-bar .cat-title {
  margin-top: 20px;
  font-size: 18px;
  background: #1173b5;
  color: #fff;
}
.side-bar li {
  border-bottom: 1px dashed #000;
  font-size: 16px;
}
.side-bar li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.side-bar li a:hover {
  background: #59a0e5;
  color: #fff;
}

/*
 *主要内容
 *********************************************************/
.main-list .container {
  padding: 10px;
}
.main-list .container ul {
  height: 250px;
  overflow: auto;
}
.main-list .container li {
  line-height: 28px;
}
.main-list .more {
  font-size: 12px;
  line-height: 28px;
  color: #000;
}
.main-list .more:hover {
  color: #1173b5;
}

.success img {
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
}
